<div id="header" class="row">
  <div class="col-xl-12">
      <div class="header_title">
          <h1> Mon portfolio</h1>
      </div>
  </div>
  <div class="col-md-12">
      <nav>
        <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i></a>
          <a routerLink="/projects" routerLinkActive="active"><i class="far fa-folder"></i> Mes projets</a>
          <a routerLink="/parcours" routerLinkActive="active"><i class="fas fa-user-graduate"></i> Mon parcours</a>
          <a routerLink="/contact" routerLinkActive="active"><i class="fas fa-address-card"></i> Me contacter</a>
      </nav>
  </div>
</div>
