<div class="life">
  <h1 class="titre">A propos de moi</h1>
  <div class="contain col-lg-8 col-md-8 col-sm-12">
      <span>Resumé des 24 dernieres années : </span>
      <p >
        Je suis née à Saint-Chamond dans la Loire, et j'ai grandi à Lorette avec mes parents et mes frères et sœurs. 
        J'ai toujours été une petite fille timide jusqu'au jour où, au collège, j'ai découvert le théâtre. 
        Au lycée j'ai profité des libertés que m’offrait ce nouveau mode de vie pour prendre toutes les options qui m'intéressaient (Latin, Théâtre, ISN, SI) 
        et du temps libre pour donner libre cours à mes passions (voir hobbies). 
        Puis en première, je suis partie 3 mois en Italie après avoir accueilli ma correspondante, Debora, 3 mois chez moi, grâce au programme Comenius. 
        Ce voyage enrichissant autant sur le plan personnel que scolaire a été une des plus grandes expériences de ma vie. 
        J'ai passé mes 2 dernières années au lycée dans une classe composée exclusivement de garçons. 
      </p>
      <p>
        Dans la continuité de mon BAC SI, j'ai décidé d’intégrer un DUT GEII à l'IUT de Saint-Etienne.
        Puis, comme mes notes me le permettaient, et que j'en ai eu l'opportunité je décide de finir mon diplôme à Montpellier, une ville magnifique et pleine de surprises.
        C'est donc à Montpellier que j'ai obtenu mon DUT GEII, et que j'ai décidé de faire un an de spécialisation en informatique, j'ai donc fait un DUT informatique en année spéciale.
        C'est à dire un DUT sur un an, avec le stage de mi-juin à fin août.
      </p>
      <p>
        Ensuite je me suis lancée dans l’aventure 42, mais à Lyon, où l’école a pris comme nom : le 101.
        J'ai donc passé les tests préliminaires, puis après avoir validé ma candidature et validé toutes les étapes, j'ai du franchir celle de la piscine.
        Une fois la piscine passée et validée, j'ai intégré l’école le 101 !
        Pendant ma première année au 101, j'ai gardé 2 enfants de 8 et 9 ans.
        Mon rôle, au delà de celui de la nounou, était de les accompagner à leurs activités extra-scolaire mais aussi de faire du soutient scolaire en anglais et en français. 
      </p>
  </div>
  <div class="contain col-lg-8 col-md-8 col-sm-12">
      <span>Mes Hobbies : </span>
      <p >
        Depuis toute petite, j'aime l'informatique en général, les jeux, la photographie amateur et le dessin.
        Mon premier ordinateur, un COMPAQ PRESARIO de 91 mis au rebut par l'entreprise de mon père, qui l'a récupéré et réparé, j'avais alors 6 ans. Depuis, beaucoup lui ont succédé.
      </p>
      <img id="pc" src="assets/pc.gif">
      <p>
          Depuis toute jeune également, je fais de la spéléologie, dans un club basé à Saint-Chamond (42). 
          J'aime découvrir le monde souterrain et ses merveilles, cela s'accorde parfaitement à mon goût pour la photographie. 
          Je pratique également l'escalade, à Montpellier, Lyon, et partout où j'en ai l'occasion. 
      </p>
      <p>
          Les jeux vidéo me suivent aussi déjà depuis quelques années et je pense y avoir trouvé la clé de mon avenir : 
          je veux développer des jeux vidéo, pour la passion du code, des défis, et des jeux.
          Le dessin quant à lui est laissé de côté depuis quelques temps, mais reste un passe-temps agréable.
      </p>
  </div>
  <div class="contain col-lg-8 col-md-8 col-sm-12">
      <span>Galerie de photos : </span>
      <p >
        Les photos présentes dans cette galerie ont toutes étés prise par moi. Clichés realisée avec mon reflex (Olympus) ou mon smartphone (One plus).
      </p>
     <gallery [src_list]="imgs">

     </gallery>
  </div>
</div>