<mat-accordion [multi]="true">

  <mat-expansion-panel class="contain" id="top" [expanded]="true">
    <mat-expansion-panel-header>
    <mat-panel-description>
        Timeline
    </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="contain">
      <h1 class="titre">Timeline</h1>
      <mat-radio-group aria-labelledby="label_tri" class="col-md-9"  (change)="selectionChanged($event)" formControlName="tri" value="all">
        
        <mat-radio-button class="_tri col-lg-3 col-md-3 col-sm-3" value="perso">Perso et projets</mat-radio-button>
        <mat-radio-button class="_tri col-lg-3 col-md-3 col-sm-3" value="exp">Experiences</mat-radio-button>
        <mat-radio-button class="_tri col-lg-3 col-md-3 col-sm-3" value="sco">Scolaire</mat-radio-button>
        <mat-radio-button class="_tri col-lg-3 col-md-3 col-sm-3" value="all">Tous</mat-radio-button>
      </mat-radio-group>
      <div [ngClass]="exp.type" class="time col-lg-6 col-md-6 col-sm-12" *ngFor="let exp of experiences">
        <p class="titre2">{{exp.titre}}</p>
        <p class="annee detail">{{exp.annee}}</p>
        <p class="detail">{{exp.lieu}}</p>
        <p class="decription detail">{{exp.decription}}</p>
      </div>
    </div>
  </mat-expansion-panel>
  
  <mat-expansion-panel class="contain" id="bot" [expanded]="true">
      <mat-expansion-panel-header>
      <mat-panel-description>
          Mon CV
      </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="">
        <h1 class="titre">Mon CV</h1>
        
        <h2>Domaines de Compétences : </h2>
        <ul class="fa-ul">
          <li class="list_head"> <span class="fa-li" ><i class="fas fa-laptop-code"></i></span>Informatique :
              <ul class="fa-ul">
                  <li> <span class="fa-li" ><i class="fas fa-code"></i></span>Langages de programmation : </li>  Python, Java, C/C++/C#, JS, PHP SQL, NodeJS-Angular, ...
                  <li> <span class="fa-li" ><i class="fas fa-paint-brush"></i></span>Manipulation de logiciel de retouche/création d'image (Photoshop, ...)</li>
                  <li> <span class="fa-li" ><i class="fas fa-cubes"></i></span>Maîtrise de logiciel de création d'objet 3D (SolidWorks, Blender,...)</li>
                  <li> <span class="fa-li" ><i class="fas fa-microchip"></i></span>Connaissance en hardware (montage/démontage, nettoyage physique et logiciel), participation à la coupe de robotique de Cachan.</li>
              </ul>
              <div id="center_mini">
                <div class="mini_contain">
                  <div class="mini" *ngFor="let img of mini_list" >
                    <img [src]="img.src">
                    <div>{{img.name}}</div>
                  </div>
                </div>
              </div>
              
          </li>
          <li class="list_head"><span class="fa-li" ><i class="fas fa-globe-europe"></i></span>Langues maitrisées :
            <ul class="fa-ul">
                <li><span class="fa-li" ><i class="fas fa-check"></i></span>Italien : niveau B2 certifié par le diplôme européen europass—erasmus</li>
                <li><span class="fa-li" ><i class="fas fa-check"></i></span>Anglais : niveaux scolaire BAC +2</li> 
            </ul>
          </li>
      </ul>

      <h2>About me : </h2>
        <ul class="fa-ul">
            <li><span class="fa-li" ><i class="fas fa-user-nurse"></i></span>Formation PSC1 (premier secours civique) obtenue en janvier 2015</li>
            <li><span class="fa-li" ><i class="fas fa-globe-europe"></i></span>2011 : obtention du diplô̂me européen de niveau B2 en Italien (Vérone, Italie)</li> 
            <li><span class="fa-li" ><i class="fas fa-palette"></i></span> Hobby : 
                <ul class="fa-ul">
                    <li> <span class="fa-li" ><i class="fas fa-camera"></i></span>photographie amateur</li>
                    <li> <span class="fa-li" ><i class="fas fa-gamepad"></i></span>jeux vidéo</li>
                    <li> <span class="fa-li" ><i class="fas fa-cookie-bite"></i></span>cuisine </li>
                    <li> <span class="fa-li" ><i class="fas fa-book"></i></span>lecture </li>
                    <li> <span class="fa-li" ><i class="fas fa-dumbbell"></i></span>escalade </li>
                    <li> <span class="fa-li" ><i class="fas fa-dot-circle"></i></span>Et tant d'autre... </li>
                </ul>
            </li>
            <li> <span class="fa-li" ><i class="fas fa-car"></i></span>Permis B (véhiculée)</li>
        </ul>


      <h2>Skills : </h2>
      <div class="bars">
        <p class="bar" *ngFor="let skill of skills">{{skill.name}} : 
          <mat-progress-bar mode="determinate" [value]="skill.note"></mat-progress-bar></p>
      </div>

    </div>
  </mat-expansion-panel>

</mat-accordion>
