.titre{
    text-align: center;
    //color: white;
    text-decoration: underline;

}
.contain{
    margin-top: 10px;
    background: grey;
    //background-image: url('../../assets/back7.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    padding: 20px;
    color: black;
}
.titre2{
    text-align: center;
    border-bottom: solid 2px;
    border-bottom-left-radius: 20px;
    margin: 0;
}

.time{
    //background-color: blanchedalmond;
    border-left: solid 7px black;
    padding: 0;
}

.annee{
    border-top: solid 2px;
    border-top-left-radius: 20px;
}

.detail{
    padding-left: 15px;
    text-align: justify;
    padding-right: 15px;
}

.decription{
    padding-bottom: 10px;
}

._tri {
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    border: none;
    box-shadow: none;
}

.scolaire{
    background-color: rgba(240, 248, 255, 0.507);
}
.exp{
    background-color:rgba(228, 187, 255, 0.507);
}
.perso{
    background-color:rgba(218, 255, 187, 0.507);
}

.bars{
    display: flex;
    flex-wrap: wrap;
}

.bar{
    width: 40%;
    margin: 10px;
}

.list_head{
    color: #ffffff;
    list-style: none;
}

ul{
    color: black;
}

h2{
    font-size: 30px;
    color: white;
    background: #663ab7bf;
    border-radius: 20px;
    padding-left: 20px;
}

mat-progress-bar{
    margin-top: 5px;
}


/* Parent Container */
.mini{
    position: relative;
    width: 90px;
    height: 90px;
    margin: 5px;
    // padding: 0;
}
   
/* Child Text Container */
.mini div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
   
.mini:hover div{
    width: 100%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

.mini > img{
    width: 100%;
    height: 100%;
}

.mini_contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
}

#center_mini{
    display: flex;
    justify-content: center;
}

#top{
    margin-top: 10px
}