.contain{
    margin-top: 10px;
    padding: 10px;
    background: #7b64987d;
}

.titre{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 24px;
}

projet-details{
    display: flex;
    justify-content: center;
}
projet-ecole{
    display: flex;
    justify-content: center;
}