.contain{
    padding: 10px;
    background: #9e9a9a;
    padding-left: 20%;
    padding-right: 20%;
}

.titre{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 24px;
}

projet-details{
    display: flex;
    justify-content: center;
}
projet-ecole{
    display: flex;
    justify-content: center;
}