.contact{
    background-image: url('../../assets/back8.jpg');
    height: 500px;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.contact h2 {
    background: #faebd780;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: solid;
}