<!-- <div class="contact col-md-12 col-lg-12 col-sm-12">
  <h2>Cette fonctionnalité est en cours de développement, désolé...</h2>
</div> -->
<!-- <script>
  particlesJS.load('particles-js', 'assets/particles.js-master/particlesjs-config.json');
</script> -->
<div class="info col-md-12 col-lg-12 col-sm-12">
  <p>Vous pouvez me joindre à l'adresse mail suivante : </p>
  <p>mchapard@student.42lyon.fr</p>
  <p>Vous pouvez me joindre au numéro suivant : </p>
  <p>06 29 55 64 72</p>
  <div id="particles-js"></div>
</div>