footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

// @font-face {
//     font-family: 'Caviar';
//     font-style: normal;
//     font-weight: 400;
//     src: local('Caviar Regular'), local('Caviar'),
//          url('../assets/fonts/caviar_dream/CaviarDreams.ttf') format('truetype'), 
//          url('../assets/fonts/caviar_dream/CaviarDreams_BoldItalic.ttf') format('truetype'), 
//          url('../assets/fonts/caviar_dream/CaviarDreams_Bold.ttf') format('truetype'),
//          url('../assets/fonts/caviar_dream/CaviarDreams_Italic.ttf') format('truetype'); 

// }