<div class="principal">
  <div class="about_me col-md-12 col-lg-12 col-sm-12">
    <h1 class="titre">Marie Chapard</h1>
    <h2 class="titre">Développeuse en freelance</h2>
    <img id="photo" class="col-md-4 col-lg-4" src="https://cdn.intra.42.fr/users/mchapard.JPG"/>
    <div class="col-md-8 col-lg-8">
      <p id="desciption">
          Etudiante à l'école 42Lyon (anciennement le-101 ) à Lyon, je suis actuellement en recherche de missions freelance.<br/>
          Après avoir commencé la branche algo de l'arbre de compétences qui nous est proposé à l'école, je suis passée sur la branche web afin d'arriver au stage plus vite et
          de développer mes compétences dans ce domaine qui m'intéressait notamment pour avoir la possibilité de développer ce site moi-même en Angular.<br/>
          Intéressée par le développement depuis longtemps, je suis maintenant une développeuse full-stack avérée mais aussi une programmeuse expérimentée en php, python, java, unityScript (Unity3D), c/c++, et bien d’autres langages.
          <br/>Le monde des applications en général et tout particulièrement les jeux-vidéos m’attire énormément et ce depuis le début de ma carrière/passion qui a commencé très tôt.
      </p>
      <a href="https://www.42lyon.fr/" target="_blank"><img class="logo" src='assets/42_logo.png'></a>
      <a href="https://github.com/Otterqueen" target="_blank"><img class="logo" src='assets/github_logo.png'></a>
      <a href="https://www.linkedin.com/in/marie-chapard-358041117/" target="_blank"><img class="logo" src='assets/logo_linkedin.png'></a>
    </div>
  </div>
  <div class="boutons col-md-12 col-lg-12 col-sm-12">
    <a class="bouton col-md-6 col-lg-6 col-sm-12" routerLink="/projects" routerLinkActive="active">Mes projets</a>
    <a class="bouton col-md-6 col-lg-6 col-sm-12" routerLink="/parcours" routerLinkActive="active">Mon parcours</a>
    <a class="bouton col-md-6 col-lg-6 col-sm-12" routerLink="/about_me" routerLinkActive="active">A propos de moi</a>
  </div>
  <!-- <gallery [type]="'projet'" [src_list]="imgs">
  </gallery> -->
  <!-- <div class="gallery col-md-12 col-lg-12 col-sm-12">
    <h2>Cette fonctionnalité est en cours de développement, désolé...</h2>
  </div> -->
  <app-contact></app-contact>
</div>
