.projet_contain{
    //width: 50%;
    color: antiquewhite;
    background: #2f144085;
    padding: 20px;
    border-left: solid black 3px;
    border-right: solid black 3px;
    margin-bottom: 10px;
    text-align: justify;
}

.titre{
    color: black;
    text-align: center;
    text-decoration: underline;
}

.details{
    color: black;
}

.player{
    height: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.video{
    width: -webkit-fill-available;
}